<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<header th:fragment="header">
    <div class="nav">
        <ul class="main-nav">
            <li class="logo">
                <a th:href="@{/}">The Shop</a>
            </li>
            <li class="nav-link">
                <a class="nav-sub-link" th:href="@{/}">Home</a>
            </li>
            <li class="nav-link nav-list">
                <a class="nav-sub-link" th:href="@{/}">For Men</a>
            </li>
            <li class="nav-link nav-list">
                <a class="nav-sub-link" th:href="@{/}">For Women</a>
            </li>
            <li class="nav-link">
                <a class="nav-sub-link" th:href="@{/}">Hottest</a>
            </li>
            <li class="nav-link nav-list">
                <a th:href="@{/}">Welcome, Guess</a>
            </li>
        </ul>
    </div>
</header>

</html>