<header th:fragment="header (maleCategories, femaleCategories, firstName, ideas, tag, isAdmin, isModerator)" xmlns:th="http://www.thymeleaf.org">
        <div class="main-nav">
            <div class="container">
                <div class="logo">
                    <a th:href="@{/}">Shop & Hour</a>
                </div>
                <ul class="nav-list">
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/}">Ladies</a>
                        <ul class="nav-sub-list">
                            <li th:each="category : ${femaleCategories}" th:if="${femaleCategories != null}" th:object="${category}">
                                <a th:href="@{/search(tag = ${category.name})}" th:text="${category.name}"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/}">Gentlemen</a>
                        <ul class="nav-sub-list">
                            <li th:each="category : ${maleCategories}" th:if="${maleCategories != null}">
                                <a th:href="@{/search(tag = ${category.name})}" th:text="${category.name}"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/}">Hottest</a>
                    </li>
                </ul>
                <div class="greetings" th:if="${firstName != null}">
                    <div>
                        <a th:href="@{/profile}" th:text="'Welcome, ' + ${firstName}"></a>
                        <ul class="nav-sub-list left">
                            <li><a th:href="@{/profile}">Profile</a></li>
                            <li th:if="${isModerator}"><a th:href="@{/moderator}">Moderator</a></li>
                            <li th:if="${isAdmin}"><a th:href="@{/admin}">Administrator</a></li>
                            <li><a th:href="@{/logout}">Log out</a></li>
                        </ul>
                    </div>
                </div>
                <div class="greetings" th:if="${firstName == null}">
                    <div>
                        <a th:href="@{/signin}">Sign in</a>
                    </div>
                    <div>
                        <a th:href="@{/signup}">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-nav" id="search-nav">
            <div class="container">
            <div class="ideas">
                <a th:href="@{/search(tag = ${idea})}" th:each="idea : ${ideas}" th:text="${idea}"></a>
            </div>
            <div class="search-form">
                <form th:action="@{/search}" method="get">
                    <input type="text" name="tag" th:value="${tag}">
                    <div>
                        <input type="submit" value="">
                    </div>
                </form>
            </div>
            <div class="cart">
                <a th:href="@{/cart}"></a>
            </div>
            </div>
        </div>
</header>