<div th:fragment="products (tag)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
        <ul>
            <li><a th:href="@{/search(tag = ${tag}, size=${productsPage.size}, page=${pageNumber}, sort=0)}">newest</a></li>
            <li><a th:href="@{/search(tag = ${tag}, size=${productsPage.size}, page=${pageNumber}, sort=1)}">from A to Z</a></li>
            <li><a th:href="@{/search(tag = ${tag}, size=${productsPage.size}, page=${pageNumber}, sort=2)}">from Z to A</a></li>
            <li><a th:href="@{/search(tag = ${tag}, size=${productsPage.size}, page=${pageNumber}, sort=3)}">ascending price</a></li>
            <li><a th:href="@{/search(tag = ${tag}, size=${productsPage.size}, page=${pageNumber}, sort=4)}">descending price</a></li>
        </ul>
    </div>
    <div>
        <div th:each="product: ${productsPage.content}">
            <a th:href="@{/product/{id}(id = ${product.id})}">
                <img th:src="@{/img/{name}(name = ${product.img_name})}" alt="">
                <h5 th:text="${product.company}"></h5>
                <span th:text="${product.name}"></span>
                <span th:text="${product.price}"></span>
            </a>
        </div>
    </div>
    <nav th:if="${productsPage.totalPages > 0}">
        <ul>
            <li th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/search(size=${productsPage.size}, page=${pageNumber})}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>