<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ADD PRODUCT</title>
</head>
<body>
<form action="#" th:action="@{/addProduct}" th:object="${product}" method="post" enctype="multipart/form-data">
    Name: <input type="text" th:field="*{name}" />
    Company: <input type="text" th:field="*{company}" />
    Price: <input type="number" th:field="*{price}" />
    Description: <input type="text" th:field="*{description}" />
    Image: <input type="file" name="file">
    <input type="submit" value="submit" />
</form>
</body>
</html>