<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:replace="fragments/head.html :: head(title = 'Search: ' + ${tag ?: ' '})"></th:block>
<body>
    <div th:replace="fragments/header.html :: header(firstName = ${consumer?.firstName}, ideas = ${ideas}, tag = ${tag}, isAdmin = ${isAdmin}, isModerator = ${isModerator})"></div>
    <div class="content">
        <div th:replace="fragments/products.html :: products(tag = ${tag})"></div>
    </div>
    <div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>