<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head.html :: head(title = 'Sign In - The Shop')"></th:block>
<body>
    <div>
        <div>
            <h3>SIGN IN</h3>
        </div>
        <div>
            <span th:text="${message}"></span>
        </div>
        <div>
            <form th:action="@{/signin}" method="post">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>