<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="fragments/head.html :: head(title = 'Sign Up - The Shop')"></th:block>
<body>
    <div>
        <div>
            <h3>SIGN UP</h3>
        </div>
        <div>
            <form th:action="@{/signup}" method="post" th:object="${consumer}">
                <div>
                    <span th:if="${emailError != null}" th:text="${emailError}"></span>
                    <input type="text" th:field="*{email}" placeholder="Email"/>
                </div>
                <div>
                    <span th:if="${firstNameError != null}" th:text="${firstNameError}"></span>
                    <input type="text" th:field="*{firstName}" placeholder="First name"/>
                </div>
                <div>
                    <span th:if="${lastNameError != null}" th:text="${lastNameError}"></span>
                    <input type="text" th:field="*{lastName}" placeholder="Last name"/>
                </div>
                <div>
                    <span th:if="${passwordsError != null}" th:text="${passwordsError}"></span>
                    <span th:if="${passwordError != null}" th:text="${passwordError}"></span>
                    <input type="password" th:field="*{password}" placeholder="Password"/>
                </div>
                <div>
                    <span th:if="${passwordConfirmError != null}" th:text="${passwordConfirmError}"></span>
                    <input type="password" th:field="*{passwordConfirm}" placeholder="Repeat password"/>
                </div>
                <div>
                    <input type="submit" value="submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>